
#login-type-container {
  background-image: linear-gradient(
    -45deg,
    rgba(9, 28, 60, 1) 0%,
    rgba(67, 46, 103, 1) 100%
  );
  height: 100vh;
  padding: 10px;
} 

#login-type {
  font-family: "Courgette", cursive;
}

#options-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 30px;
  /* border: 1px solid black; */

}

#options-container a{
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 20px;
  padding: 30px 30px;
  color: rgb(39,59,105);

}

.options-image-caption {
  /* margin-top: 24px; */
  font-family: "Inter", sans-serif;
  text-align: center;
  color: rgb(39,59,105);
}

.options h3{
  font-size: 20px;
}


#login-type-container h4{
  border-radius: 5px;
  padding: 10px;
}

.wallet-div{
  padding: 10px;
  background-color: white;
}

.wallet-addr-txt{
  /* border:1px solid red; */
  align-items: end;
  justify-content: end;
  background-color: white !important;
  color: white;
  border-radius: 5px; 
}

@media (max-width: 800px) {
  #login-type-container {
    height: auto;
    width: 100%;
  }
  #login-type {
    width: 100%;
    padding: 30px;
    min-width: 0px;
  }
  #options-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }
}

.options-image {
  width: 140px;
  /* height: 240px; */
  display: block;
  margin: 5px auto;
}

/* .options-image-caption {
  margin-top: 24px;
  font-family: "Inter", sans-serif;
  text-align: center;
} */

.select-link{
  text-decoration: none;
}

/* @media (min-width:800px) and (max-width: 1000px) {
  .options-image {
    width: 160px;
    height: 160px;
    display: block;
    margin: 0px auto;
  }
} */

@media (min-width: 800px) {
  .options-image{
    width: 120px;
  }
}
@media screen and (min-width:1000px){
  .options-image{
    width: 240px;
  }
}