#box-container {
  margin: 0px;
  background-color: var(--light-bg);

  padding: 1rem 2rem;
  box-sizing: border-box;
  /* border: 1px solid black; */
  width: 90%;
  /* overflow-x: scroll; */
}

#page-title {
  color: rgb(39,59,105);
  color: #551a8b;
  color: rgb(12,29,62);
  margin: 3rem 0px;
  font-size: 2rem;
  /* border: 1px solid black; */
}

@media screen and (min-width:700px) {
  .open-icon{
    display: none;
  }
}

@media screen and (max-width:700px) {
  #box-container{
    width: 100%;
    height: 100hv;
  }
}
