.main-container{
    display: flex;
}

.wallet-addr-txt{
  background-image: linear-gradient(
    -45deg,
    rgba(9, 28, 60, 1) 0%,
    rgba(67, 46, 103, 1) 100%
  );
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
  width: 260px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  float: right;
  /* margin-bottom: 40px; */
}

.secondary-txt{
  font-size: 25px;
  margin-bottom: 10px;
}