@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300&family=Shadows+Into+Light&display=swap");

/* :root {
  --primaryColor: #42427d;
  --lightPrimaryColor: #5840bb;
  --secondaryColor:#7979B2;
  --light-bg: #e5eff7;
} */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Serif", serif;
}

img{
  width: 100%;
}

.landing-page-container{
  border: 1px solid black;
  width: 100vw;
}

.landing-page-header{
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  /* height: 50px; */
}

.landing-page-header h3{
  color: rgb(39,59,105) !important;
  font-size: 14px;
  font-weight: bolder;

}

.img {
  width: 20px;
  margin-right: 10px;
}
.connectWalletBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px ;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(
    -45deg,
    rgba(9, 28, 60, 1) 0%,
    rgba(67, 46, 103, 1) 100%
  );
  color: white;
  /* letter-spacing: 1.5px; */
  font-size: 10px;
}

.hero-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;
  /* height: 90vh; */
  /* margin: 0 30px; */
}

.hero-section h1{
  background: linear-gradient(
    -45deg,
    rgba(9, 28, 60, 1) 0%,
    rgba(67, 46, 103, 1) 100%
  );
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
  background-clip: text;
    
}

.hero-img{
  margin-bottom: 20px;
}

.hero-btn{
  margin-top: 40px;
}

.hero-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.hero-text h1{
  font-size: 20px;
}

.services{
  background-image: linear-gradient(
    -45deg,
    rgba(9, 28, 60, 1) 0%,
    rgba(67, 46, 103, 1) 100%
  );
  color: white;
  text-align: center;
  padding: 10px 20px;
  /* border-radius: 200px 20px 0 0; */
}

.services-cards{
  margin-bottom: 40px;
  font-size: 11px;
}

.services h2{
  font-size: 24px;
}

.services-cards h3{
  font-size: 20px;
  margin-bottom: 15px;
}


@media screen and (min-width:500px) {
  .hero-section h1{
    font-size: 35px;
    margin: 30px;
  }

  .landing-page-header h3{
    font-size: 20px;
  }

  .connectWalletBtn{
    font-size: 14px;
    letter-spacing: 2px;
  }

  .hero-img{
    margin: 30px;
  }

  .services h2{
    font-size: 30px;
  }

  .services-cards h3{
    font-size: 20px;
  }

  .services-cards p{
    margin: 10px 50px;
    font-size: 14px;
  }

}



@media screen and (min-width:768px) {
  .hero-section{
    flex-direction: row;
  }

  .landing-page-header h3{
    font-size: 25px;
    padding: 5px 20px;
  }

  .hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    width: 700px;
  }

  .hero-img{
    width: 600px;
  }

  .hero-section h1{
    font-size: 40px;
    margin-bottom: 30px;
  }

  .services-cards-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .services-cards{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
  }

  .services-cards p{
    margin: 0;
  }
}


@media screen and (min-width:1168px) {
  .hero-section h1{
    font-size: 60px;
  }
  .services{
    padding: 10px 90px;
  }
  .services-cards-container{
    gap: 70px;
    max-width: 1200px;
    margin: 0 auto;
  }
}
